<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>{{ person.username }}님의 프로필</h1>
  <div> 
    <div>
      팔로잉 : <span id="followings-count">{{ person.followings.all|length }}</span> / 
      팔로워 : <span id="followers-count">{{ person.followers.all|length }}</span>
    </div>

    {% if request.user != person %}
      <div>
        <form id="follow-form">
          {% csrf_token %}
          {% if request.user in person.followers.all %}
            <input id="follow-button" type="submit" value="Unfollow">
          {% else %}
            <input id="follow-button" type="submit" value="Follow">
          {% endif %}
        </form>
    </div>
    {% endif %}

  </div>  
  <hr>
  <div>
    <h2>{{ person.username }}가 작성한 게시글</h2>
    {% for article in person.article_set.all %}
      <div>{{ article.title }}</div>
    {% endfor %}
    <hr>
    <h2>{{ person.username }}가 작성한 댓글</h2> 
    {% for comment in person.comment_set.all %} 
      <div>{{ comment.content }}</div> 
    {% endfor %}
    
    <hr>
    <h2>{{ person.username }}가 좋아요한 게시글</h2> 
    {% for article in person.like_articles.all %} 
      <div>{{ article.title }}</div> 
    {% endfor %}
  </div>
  <!-- axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    // 조작하고자 하는 대상 form 태그가 누군지 명확하게 id로 표기해준다.
    const followForm = document.querySelector('#follow-form')
    // csrf token 정보를 가져온다.
    // name이 csrfmiddlewaretoken인 어떤 요소를 가져와서, 그 요소의 value만 뽑아서 쓴다.
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    // 현재 프로필 주인의 팔로워 수를 보여주는 span tag
    const followerCountSpan = document.querySelector('#followers-count')
    const followBtn = document.querySelector('#follow-button')

    // 이 follow용 form에 submit 이벤트가 발생하면,
    followForm.addEventListener('submit', function (event) {
      // 내 서버에 follow POST 요청을 보낼 것이다.
      // 원래 form은 submit이 발생하면 하던 일이 있었다.
        // action에 지정된 위치로 method에 지정된 방식으로
        // 자신이 가진 input 들의 name과 value를 데이터로
        // 요청 보내는 것.
      event.preventDefault()  // form의 기존 이벤트를 막는다.
      axios({
        url: "{% url 'accounts:follow' person.pk %}",
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
      })  // 성공했을때
        .then((response) => {
          // follow 요청을 담당하는 URL로 POST 요청이 가고,
          // follow 담당 view 함수가 실행되어서,
          // 적절한 if문을 통과한 후, 실제 follow 기능이 실행되고,
          // profile로 redirect 되어서
          // profile view함수가 profile.html 파일을 반환
          // 반환된 html 파일의 내용을 console.log 출력
          console.log(response.data)  // -> 응답 데이터가 HTML이 아니라... 
          // 상대방의 팔로워 수, 그리고 나에게 보여질 follow 버튼에 어떤 값이 적힐지에 대한 결과
          // 이걸 JSON으로
          // 고민 포인트... 변수명 이거 맞음?
          // const { follower_count, is_follow } = response.data
          const followerCount = response.data.follower_count
          followerCountSpan.textContent = followerCount
          
          const isFollow = response.data.is_follow
          // isFollow의 값이 true면? -> Unfollow false면? follow
          // if (isFollow) {}
          followBtn.value = isFollow ? 'Unfollow' : 'follow'
        })
        .catch((err) => {
          console.log(err)
        })
      
      // action에 적혀있던 경로로
      // method에 적혀있던 방식으로 요청을
      // axios로 보낸다. 
    })
  </script>
</body>
</html>
