{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성시각 : {{ article.created_at }}</p>
  <p>수정시각 : {{ article.updated_at }}</p>
  <hr>
  {% if user == article.user %}
    <a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
    <form id="delete-form" data-article-id="{{article.pk}}">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
  {% endif %}
  <a href="{% url 'articles:index' %}">[back]</a>
  <hr>
  <h4>댓글 목록</h4>
  {% if comments %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  <ul class="comment-container">
    {% for comment in comments %}
      <li>
        {{ comment.user }} - {{ comment.content }}
        {% if user == comment.user %}
          <form class="d-inline" id="delete-comment-form" data-article-id="{{article.pk}}" data-comment-id="{{comment.pk}}">
            {% csrf_token %}
            <input type="submit" value="DELETE">
          </form>
        {% endif %}
      </li>
    {% empty %}
      <p>댓글이 없어요..</p>
    {% endfor %}
  </ul>

  <hr>
  {% if request.user.is_authenticated %}
    <form id="comment-create-form" data-article-id="{{article.pk}}">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}


  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const deleteForm = document.querySelector('#delete-form');
    const csrf = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    deleteForm.addEventListener('submit', function(event) {
      articleId = this.dataset.articleId;
      event.preventDefault();
      if (confirm('정말 삭제하시겠습니까?')) {
        axios({
          method: 'POST',
          url: `/articles/${articleId}/delete/`,
          headers: {
            'X-CSRFToken': csrf,
          },
        }).then(function(response) {
          location.href = '/articles/';
        }).catch(function(error) {
          console.error(error);
        });
      }
    });

    // 댓글 삭제
    const commentContainer = document.querySelector('.comment-container');
    commentContainer.addEventListener('submit', function(event) {
      event.preventDefault();
      const articleId = event.target.dataset.articleId;
      const commentId = event.target.dataset.commentId;
      if (confirm('정말 삭제하시겠습니까?')) {
        axios({
          method: 'POST',
          url: `/articles/${articleId}/comments/${commentId}/delete/`,
          headers: {
            'X-CSRFToken': csrf,
          },
        }).then(function(response) {
          location.href = `/articles/${articleId}/`;
        }).catch(function(error) {
          console.error(error);
        });
      }
    });

    // 댓글 생성
    const commentCreateForm = document.querySelector('#comment-create-form')
    commentCreateForm.addEventListener('submit',function(event){
      event.preventDefault() // 폼 제출 막기

      //새로운 formData생성
      const formData = new FormData(commentCreateForm)
      const articleId = event.target.dataset.articleId;
      axios({
        method:'POST',
        url:`/articles/${articleId}/comments/`,
        data: formData,
        headers : {
          'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value,
        },
      })
      .then(function(response){
        const comment = response.data.comment
        const ulTag = document.querySelector('.comment-container')
        const liTag = document.createElement('li')
        liTag.innerHTML=`
          ${comment.user} - ${comment.content}
          {% if user.is_authenticated %}
            {% if user == comment.user %}
              <form class="d-inline" id="delete-comment-form" data-article-id="{{article.pk}}" data-comment-id="${comment.pk}">
                {% csrf_token %}
                <input type="submit" value="DELETE">
              </form>
            {% endif %}
          {% endif %}
        `
        ulTag.append(liTag)

        // input Tag초기화
        commentCreateForm.reset()
      })
      .catch(function(error){
        console.log(error)
      })

    })


  </script>
{% endblock content %}
