<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Articles</h1>
  {% if request.user.is_authenticated %}
    <h3>Hello, {{ user.username }}</h3>
    <a href="{% url 'accounts:profile' user.username %}">내 프로필</a>
    <a href="{% url 'articles:create' %}">NEW</a>
    <form action="{% url 'accounts:logout' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Logout">
    </form>  
    <form action="{% url 'accounts:delete' %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="회원탈퇴">
    </form>  
    <a href="{% url 'accounts:update' %}">회원정보 수정</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">Login</a>
    <a href="{% url 'accounts:signup' %}">Signup</a>
  {% endif %}

  <hr>
  <div class="article-container">
    {% for article in articles %}
      <p>작성자 : <a href="{% url 'accounts:profile' article.user.username %}">{{ article.user }}</a></p>
      <p>글 번호: {{ article.pk }}</p>
      <a href="{% url 'articles:detail' article.pk %}">
        <p>글 제목: {{ article.title }}</p>
      </a>
      <p>글 내용: {{ article.content }}</p>

      {% comment %} 
        id 에 숫자로 시작하는 값 넣지 않는다.
        동일한 기능을 하는 form 태그들이 동일한 class를 가진다. -> 지극히 당연한 일.
      {% endcomment %}
      <!-- article id 정보를 dataset property를 사용해서 할당해보자. -->
       <!-- html: kebob-case 가 기본 컨벤션 -->
        <!-- 따라서, 모두 소문자로 작성 -->
      <form class="like-forms" data-article-id="{{ article.pk }}">
        {% csrf_token %}
        {% if request.user in article.like_users.all %}
          <input id="like-button-{{ article.pk }}" type="submit" value="좋아요 취소">
        {% else %}
          <input id="like-button-{{ article.pk }}" type="submit" value="좋아요">
        {% endif %}
      </form>   

      <hr>
    {% endfor %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const articleContainer = document.querySelector('.article-container')
    // 한번 렌더링 될 떄의 csrftoken "당연하게도" 모두 똑같은 난수값을 가져야한다.
    // 따라서, 그냥 문서 최상단부터 처음 마주하는 csrftoken 정보 얻어오면 어디서든 쓸 수 있다.
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    articleContainer.addEventListener('submit', function (event) {
      event.preventDefault()
      // axios로 게시글에 좋아요 기능 요청 해주라.
      // console.log(event.currentTarget)
      console.log(event.target)
      // dataset property에 접근하기 위해서는
      // element.dataset.propertyName 을 작성하면 되는데,
      // HTML에서 kebob-case로 작성한 속성 명은, JS에서 camelCase로 사용한다.
      // article-id // 이거 article 빼기 id 아님?
      const articleId = event.target.dataset.articleId
      axios({
        method: 'POST',
        headers: {'X-CSRFToken': csrftoken},
        url: `/articles/${articleId}/likes/`
      })
        .then(response => {
          const isLike = response.data.is_like
          const likeButton = document.querySelector(`#like-button-${articleId}`)
          likeButton.value = isLike ? '좋아요 취소' : '좋아요'
        })
        .catch(err => {
          console.log(err)
        })
    })
  </script>
</body>
</html>
